.info {
  color: rgb(30, 0, 255);
  background-color: rgb(251, 105, 105);
  font-weight: 700;
  /* text-decoration: underline; */
  /* text-decoration: wavy underline red; */
  /* text-decoration: dotted line-through red; */
  /* text-decoration: dashed line-through red; */
  /* text-decoration: dashed overline red; */
  text-decoration: line-through 5px;
}

.demo {
  /* letter-spacing: 5px; */
  line-height: 1.5;
  font-size: 34px;
  /* Absolute / Relative */
  font-family: Avant Garde, Arial, sans-serif;
}
